app = "jobrecord-backend"
primary_region = "nrt"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_start_machines = true
auto_stop_machines = false
min_machines_running = 1
processes = ["app"]

[[vm]]
size = "shared-cpu-1x"
memory = "512mb"